# Entorno virtual
venv/

# Archivos Python
__pycache__/
*.pyc

# Base de datos SQLite
db.sqlite3

# Variables de entorno
.env

# Archivos de VSCode
.vscode/

# Archivos de PyCharm
.idea/

# Archivos estáticos compilados
staticfiles/

# Logs
*.log